
.homeslider                         { width: 650px; height: 310px; position: relative; margin: 0 auto 0px; }
.homeslider .wrapper                { width: 650px; overflow:hidden;height: 304px; margin: 0 0px 0 0; position: absolute; top: 0; left: 0; }
.homeslider .wrapper ul             { width: 32700px; list-style: none; position: absolute; top: 0; left: 0px;  padding:0px; margin: 0; }
.homeslider ul li                   { float: left; padding: 0; height: 317px; margin: 0 0 0 0px;}
.homeslider .arrow                  { display: block;  height:300px;width:30px;  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";  filter:alpha(opacity=40);background:#ccc; opacity:0.4; } 
.homeslider .forward				{ border:0px;left:-20px;display: none;  }
.homeslider .back					{ border:0px;left:-20px;display: none; }

.homeslider .wrapper ul li .textSlide { color:#000000; width:650px;height:297px;background:transparent url(../images/backgrounds/home_mainpic_right.jpg) no-repeat top right;position:relative; } 
.homeslider .wrapper ul li .copy{float:right;width:300px;margin:45px 18px 0 0 ;height:200px; }
.homeslider .wrapper ul li .copy img{ padding:0 0 10px 0;  }
.homeslider .wrapper ul li .copy h2{ color:#000; font-size:26px; font-weight: 700; line-height:30px; margin:0 0 10px 0; }  
.homeslider .wrapper ul li .image{float:left;width:318px; max-width:318px}
.homeslider .wrapper ul li .copy .body { clear:both}
.homeslider .wrapper ul li .copy .body .body-btn { position: absolute;bottom:40px;left:333px;}
.homeslider .body a.link { background: #000 url('../images/backgrounds/btn_large_home_right.jpg') no-repeat scroll right top; color: #fff; display: block; float: left; font: normal 18px arial; height: 52px; margin-top:20px;   margin-right: 0px;   padding-right:9px; /* sliding doors padding */  text-decoration: none; }
.homeslider .body a.link span { background: transparent url('../images/backgrounds/btn_large_home_left.jpg') no-repeat;  display: block;margin:0 0 0 0px;   padding: 10px  20px 10px 58px; line-height: 32px; } 
.homeslider .body a.link:hover  { cursor:hand; background: transparent url('../images/backgrounds/btn_large_home_right.jpg') no-repeat scroll right -53px;  }
.homeslider .body a.link span:hover { background: transparent url('../images/backgrounds/btn_large_home_left.jpg') no-repeat 0px -53px;} 

#thumbNav							{ position: absolute; bottom: 20px; right: 20px; margin: 0; 200px; padding: 0;height: 22px; }
#thumbNav a                         { z-index:2;padding: 0;margin:4px 5px 2px 8px;font-weight:bold;display: inline-block; background: transparent url('../WebAssets/img/ci-uk/icons/slider.png') no-repeat; height:8px; display: block; width:8px; float:left; text-indent:-20000px}
#thumbNav a:hover                   { background-position: 0 -8px; height:8px; display: block; width:8px; float:left; text-indent:-20000px}
#thumbNav a.cur                     { background-position: 0 -8px; height:8px; display: block; width:8px; float:left; text-indent:-20000px }
#start-stop                         { display:none;}
#start-stop.playing                 { display:none;}


.coda-slider-wrapper { width:676px; margin:0px 0 0 0;padding: 0px 0px 0px 0px;background: #f9f9f9;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;  }
/* panel top and bottom*/
.paneltop { margin:0px 0 0 0;padding:0px;background: url('../images/backgrounds/home_box3_border_top.gif') no-repeat bottom ;width:678px; height:6px; }
.panelbottom { margin:0px 0 0px 0;padding:0px;background: url('../images/backgrounds/home_box3_border_bottom.gif') no-repeat top ;width:678px; height:14px; }

/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
.coda-slider-no-js .coda-slider { height: 300px; overflow:hidden; padding-right: 20px; }

/* Change the width of the entire slider (without dynamic arrows) */
.coda-slider, .coda-slider .panel { margin:0px;padding:0px;width:300px; } 

/* Change margin and width of the slider (with dynamic arrows) */
.coda-slider-wrapper.arrows .coda-slider { border-right:1px solid #d5d5d5;border-left:1px solid #d5d5d5}
.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 655px; height:306px; background:#ffffff; }
.coda-slider-wrapper.arrows .coda-slider { margin:0 0 0 10px; }

/* Arrow styling 
.coda-nav-left {float:left}
.coda-nav-left a { text-decoration:none; position:absolute;background-image:url(../images/tab_arrow_left.jpg); z-index:2;height:24px; width: 23px; margin:115px 0 0 -12px;}
.coda-nav-right a { text-decoration:none; position:absolute;background-image:url(../images/tab_arrow_right.jpg); padding: 0px; height:24px; width: 23px; margin:115px 0 0 -2px;}
*/
.coda-nav {

}

.coda-nav-left a{
    position:absolute;
    background-image:url(../images/tab_arrow_left.png); 
    z-index:5;height:21px; width: 22px; 
     text-decoration:none;
     display:block;
     margin:115px 0 0 -12px;    
}

.coda-nav-right  a {
    position:absolute;
    text-decoration:none;
    z-index:4;
    display:block;
    background-image:url(../images/tab_arrow_right.png); 
    padding: 0px; height:21px; width: 22px; 
    margin:115px 0 0 665px;
}

/* Tab nav */
.coda-nav {width:676px; }
.coda-nav .clear { height:0;}
.coda-nav ul {float:left; overflow:hidden; padding: 0px; margin:0 0 0 10px; background:url(../images/tabs/tab_middle.gif) repeat scroll right 0px; height:52px; width:652px;  }
.coda-nav #coda-nav-end { float:left; background:#f9f9f9 url(../images/tabs/tab_right_end.gif) no-repeat 0 0 ; height:52px; width:5px }
.coda-nav ul li .middle { float:left; height:52px; background:url(../images/tabs/tab_middle.gif)  0 0px  repeat; padding:16px 10px 0 10px;margin:0px;  }
.coda-nav ul li .firstleft {float:left; display:block; width:5px; height:52px;background:url(../images/tabs/tab_left_first.gif)  0 0px no-repeat;margin:0px 0 0 0px;padding:0px  }
.coda-nav ul li .right {float:left; text-decoration:none;width:5px; height:52px; }		
.coda-nav ul li .left  { padding:0px;margin:0px;float:left;   width:5px; height:48px;background:url(../images/tabs/tab_left_second.gif) 0 0px no-repeat;}
.coda-nav ul li.li_selected .left {float:left; display:block;  width:5px; height:48px;background:url(../images/tabs/tab_left_first.gif)  0 -52px no-repeat;}
.coda-nav ul li.li_selected .firstleft {float:left; display:block;  width:5px; height:52px;background:url(../images/tabs/tab_left_first.gif)  0 -52px no-repeat;margin:0px 0 0 0px;padding:0px  }
.coda-nav ul li.li_selected .middle {float:left;text-decoration:none; height:52px;  background:url(../images/tabs/tab_middle.gif)  0 -52px repeat;    }
.coda-nav ul li a { text-decoration:none; font-size:14px; font-weight:600; color:#666666;}
.coda-nav ul li.li_selected .middle a { text-decoration:none; color:#333333 }
.coda-nav .li_selected .right {float:left; text-decoration:none;width:5px; height:52px;background:url(../images/tabs/tab_right_first.gif)  0 -52px no-repeat;}		
.coda-nav .endright {float:left;text-decoration:none;  height:52px;background:url(../images/tabs/tab_right_end_short.gif)  repeat top left;}		

/* Panel padding */
.coda-slider .panel-wrapper {padding: 23px 19px 0px 19px; margin:0px; font-size:11px;color:#666666;}
.coda-slider .panel-wrapper h2 { display:none;}
.coda-slider .panel-wrapper h3 { margin:0px;padding:0 0 18px;font-size:12px;color:#000000;font-weight:600}
/* this is not recommended to hide text when height more than expected.*/
.coda-slider .panel-wrapper .box {float:left;width:175px;height:260px;overflow:hidden;position:relative;}
.coda-slider .panel-wrapper .box .copy {height:190px;overflow:hidden;  line-height:16px; color:#666666;}
.coda-slider .panel-wrapper .box .moreInfo {position:absolute;bottom:0;text-align:center;left:0;right:0}
.coda-slider .panel-wrapper .box .moreInfo img { padding-bottom: 5px;width:175px;height:108px;}
.coda-slider .panel-wrapper .divider {float:left; border-right:1px solid #d5d5d5; margin:0 21px; width:1px; height:250px; }

.coda-slider a.tabbutton { text-decoration:none;background: transparent url('../images/backgrounds/btn_standard_right.jpg') no-repeat scroll top right; color: #fff; display: block; float: left;  font: normal 11px arial, sans-serif; line-height: 16px; margin-right: 0px;   padding-right: 5px; text-decoration: none; }
.coda-slider a.tabbutton span { text-decoration:none;background: transparent url('../images/backgrounds/btn_standard_left.jpg') no-repeat; display: block; line-height: 16px; padding: 5px 10px 5px 30px; } 
.coda-slider a.tabbutton:hover {background: transparent url('../images/backgrounds/btn_standard_right.jpg') bottom right; display:block}
.coda-slider a.tabbutton span:hover { background: transparent url('../images/backgrounds/btn_standard_left.jpg') no-repeat 0px -26px; display:block}

/* Preloader */
.coda-slider p.loading { padding: 0px; text-align: center ; height:306px; background:#ffffff; margin:0 0 0 9px;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;   }
.preload { width:668px}
/* Don't change anything below here unless you know what you're doing */

/* Tabbed nav */ 
.coda-nav ul { clear: both; display: block; overflow: hidden;}
.coda-nav ul li { display: inline;}
/*coda-nav ul li a { background: #f1f1f1; color: #787878; display: block; float: left; margin-right: 1px; padding: 0px 6px; text-decoration: none; width:147px; text-align:center;}  */

/* Miscellaneous */
.coda-slider-wrapper { clear: both; overflow: hidden }
.coda-slider { float: left; overflow: hidden; position: relative }
.coda-slider .panel { display: block; float: left; border:0;}
.coda-slider .panel-container { position: relative }

