/*BROWSER SPECIFIC MIXIN*/
.no-flexbox .flex, .no-flexbox .ie-flex, .no-flexbox .gRow {
  display: table;
  width: calc(100% - 40px);
}
.no-flexbox .flex > *, .no-flexbox .ie-flex > *, .no-flexbox .gRow > * {
  display: table-cell;
}
.no-flexbox .flex .gCol8, .no-flexbox .ie-flex .gCol8, .no-flexbox .gRow .gCol8 {
  width: 63%;
}
.no-flexbox .flex .gCol4, .no-flexbox .ie-flex .gCol4, .no-flexbox .gRow .gCol4 {
  width: 35%;
  margin-left: 2%;
}
.no-flexbox .flex {
  width: 100%;
  box-sizing: border-box;
}
.no-flexbox .wrapper-content {
  background: #F4F4F4;
}
.no-flexbox .tabs-menu-control, .no-flexbox .footer-contact, .no-flexbox .contact-options, .no-flexbox .social-icons-list, .no-flexbox .slider-link-control, .no-flexbox .social-icons-list, .no-flexbox .footer-quick-links, .no-flexbox .nav-footer-primary .nav-footer-lvl_1, .no-flexbox .footer-copyright {
  display: table;
}
.no-flexbox .footer-contact-options {
  width: 64%;
}
.no-flexbox .tabs-menu-control {
  border-spacing: 1px;
  width: auto;
}
.no-flexbox .footer-quick-links, .no-flexbox .nav-footer-primary .nav-footer-lvl_1, .no-flexbox .contact-options, .no-flexbox .footer-contact, .no-flexbox .footer .social-icons-list, .no-flexbox .footer-copyright, .no-flexbox #cookieFooterContent {
  width: 100%;
}
.no-flexbox .slider-link-control {
  margin: auto;
  left: 45%;
  border-spacing: 12px;
}
.no-flexbox .header-bottom {
  display: block;
}
.no-flexbox .nav-item, .no-flexbox .header-top-right, .no-flexbox .header-top-left, .no-flexbox .slider-link, .no-flexbox .tab-menu-item, .no-flexbox .footer-contact-options, .no-flexbox .footer-social-icons, .no-flexbox .contact-method, .no-flexbox .social-icon, .no-flexbox .nav-footer-item, .no-flexbox .footer-tagline, .no-flexbox div.copyright-text, .no-flexbox #cookieFooterContent > * {
  display: table-cell;
  vertical-align: middle;
}
.no-flexbox .nav-footer-item {
  vertical-align: top;
}
.no-flexbox .footer-quick-links .nav-footer-item:before {
  display: none;
}
.no-flexbox #cookieFooterContent p {
  padding-right: 6px;
}
.no-flexbox .social-icon {
  padding-left: 6px;
}
.no-flexbox small.copyright-text {
  text-align: right;
}
.no-flexbox .nav-footer-lvl_2 {
  display: block;
}
.no-flexbox .nav-footer-lvl_2 .nav-footer-item {
  display: block;
}
.no-flexbox .hide {
  display: none !important;
}
.no-flexbox .tabs-content-wrapper [class*=gCol] {
  padding-left: 18px;
  width: auto;
}
.no-flexbox .tabs-content-wrapper [class*=gCol]:nth-of-type(1) {
  padding: 0;
}
.no-flexbox *[width="1"], .no-flexbox *[height="1"], .no-flexbox iframe[name=google_conversion_frame] {
  position: fixed;
  display: none;
}
@media only screen and (max-width: 960px) {
  .no-flexbox .footer-quick-links {
    text-align: left;
  }
  .no-flexbox .footer-quick-links .nav-footer-item {
    display: inline-block;
  }
}
@media only screen and (max-width: 780px) {
  .no-flexbox .tabs-menu-control, .no-flexbox .footer-contact, .no-flexbox .footer-quick-links {
    display: block;
  }
  .no-flexbox .nav-item, .no-flexbox .footer-contact-options, .no-flexbox .footer-social-icons {
    display: block;
  }
  .no-flexbox .nav-footer-item.nav-item-lvl_1 {
    padding-left: 12px;
  }
  .no-flexbox .nav-footer-item.nav-item-lvl_1:first-child {
    padding-left: 0;
  }
  .no-flexbox .footer-contact-options {
    width: calc(100% - 40px);
  }
  .no-flexbox .flex .gCol8, .no-flexbox .ie-flex .gCol8, .no-flexbox .gRow .gCol8 {
    width: 100%;
  }
  .no-flexbox .flex .gCol4, .no-flexbox .ie-flex .gCol4, .no-flexbox .gRow .gCol4 {
    display: block;
    width: 100%;
    margin: 0;
  }
  .no-flexbox .panel-header {
    text-align: left;
  }
  .no-flexbox .tabs-content-wrapper [class*=gCol] {
    display: block;
    padding-left: 0;
  }
  .no-flexbox .contact-method {
    width: 33%;
  }
}
@media only screen and (max-width: 640px) {
  .no-flexbox .panel-header {
    text-align: left;
  }
  .no-flexbox .nav-footer-item.nav-item-lvl_1 {
    display: block;
    padding-left: 0;
  }
}
