div.PBViewing {
  float: none; }

.PBItem {
  font-size: 100%;
  list-style: none;
  padding: 0; }
  .PBItem button {
    font-size: 12px; }

div.PBViewing div.widget div.header {
  display: table !important; }

.ekform {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 25px;
  margin: 0 0 18px 0;
  color: black;
  font-weight: bold; }

h2 {
  font-size: 16px;
  margin: 0 0 18px 0;
  color: black; }

h3 {
  font-size: 16px;
  font-weight: bold; }

p {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 27px 0; }
  .txt-hero p {
    font-size: 12.3px; }

a {
  color: #666666;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

li {
  font-size: 12px; }
  li li, li button {
    font-size: 1em; }

p {
  margin: 1em 0 1em 0; }

a {
  color: #666666;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.header {
  background: black;
  height: 50px;
  padding: 10px 25px 17px 25px;
  zoom: 1; }
  .header:after {
    content: " ";
    display: table;
    font-size: 0;
    height: 0;
    visibility: hidden;
    clear: both; }
  .header .logo {
    background: url("../../img/ci-uk/icons/sprite_header_widget.png") no-repeat scroll 0 -80px transparent;
    float: left;
    height: 30px;
    padding: 10px 0;
    width: 210px; }
    .header .logo span {
      display: none; }

#breadcrumbleft {
  float: left;
  background: transparent url("../../img/ci-uk/icons/breadcrumb/breadcrumb_left.gif") no-repeat;
  width: 6px;
  height: 30px; }

#breadcrumbright {
  float: left;
  background: transparent url("../../img/ci-uk/icons/breadcrumb/breadcrumb_right.gif") no-repeat;
  width: 6px;
  height: 30px; }

#breadcrumb {
  font-weight: bold;
  float: left;
  border-top: #d1d1d1 1px solid;
  border-bottom: #d1d1d1 1px solid;
  width: 984px;
  height: 28px;
  color: #333333;
  font-size: 11px;
  margin: 0; }
  #breadcrumb .seperator {
    float: left;
    background: #fdfdfd url("../../img/ci-uk/icons/breadcrumb/breadcrumb_arrow.gif") 0 0 no-repeat;
    text-indent: -20000px;
    width: 10px;
    height: 28px;
    padding: 0 0;
    margin: -5px 5px 0 5px; }
  #breadcrumb .indicatorseperator {
    float: left;
    background: #fdfdfd url("../../img/ci-uk/icons/breadcrumb/breadcrumb_arrow.gif") 0 0 no-repeat;
    text-indent: -20000px;
    width: 10px;
    height: 28px;
    padding: 0 0;
    margin: -5px 5px 0 0; }
  #breadcrumb a {
    font-weight: normal;
    float: left;
    margin: 0 0 0 5px;
    padding: 0 5px 0 0;
    text-decoration: none;
    color: #8f8f8f; }
  #breadcrumb .breadcrumbtext {
    padding: 5px 0 0 0;
    background-color: #fff;
    float: left;
    margin: 0; }
  #breadcrumb .indicator {
    float: left;
    padding: 5px 0 0 0;
    font-weight: bold;
    margin: 0; }

.navbar, #headermenu {
  clear: both;
  height: 30px;
  width: 996px;
  margin: 0 0 20px 0;
  background: #151112;
  border: solid 1px #151112;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .navbar ul, #headermenu ul {
    float: left;
    height: 30px;
    width: 987px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .navbar ul li, #headermenu ul li {
      float: left;
      padding: 0 10px 0 22px;
      line-height: 30px;
      margin: 0;
      display: inline;
      vertical-align: middle; }
      .navbar ul li a, #headermenu ul li a {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none; }
      .navbar ul li a:hover, #headermenu ul li a:hover {
        color: #ffee00; }
    .navbar ul .egSelected a, #headermenu ul .egSelected a {
      color: #ffee00; }
    .navbar ul .egNoLink, #headermenu ul .egNoLink {
      color: #ffffff; }

/* Left Menu  */
#leftmenu {
  float: left;
  width: 225px auto; }
  #leftmenu ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 220px; }
    #leftmenu ul ul ul {
      display: none; }
      #leftmenu ul ul ul li {
        background: #cfcfcf; }
        #leftmenu ul ul ul li.egSelected {
          padding: 0;
          color: #000000;
          border: none; }
      #leftmenu ul ul ul.submenuselected {
        display: block; }
    #leftmenu ul ul li {
      background: #cfcfcf; }
      #leftmenu ul ul li .egSelected {
        background: #adadad;
        border-top: 1px solid #999;
        color: black;
        padding: 0 0 0 25px; }
        #leftmenu ul ul li .egSelected:hover {
          background: #adadad; }
    #leftmenu ul li {
      margin: 0;
      padding: 0;
      line-height: normal; }
      #leftmenu ul li a {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        display: block;
        text-decoration: none; }
        #leftmenu ul li a:hover {
          text-decoration: none; }
      #leftmenu ul li.egMenuLevel_1 {
        position: relative; }
        #leftmenu ul li.egMenuLevel_1 a.egMenuLevel_1 {
          background-color: #262626;
          color: white;
          cursor: default;
          padding: 10px 0 8px 12px; }
          #leftmenu ul li.egMenuLevel_1 a.egMenuLevel_1 .egSelected:hover {
            color: white; }
      #leftmenu ul li .egMenuLevel_2 a {
        background-color: #f9f9f9;
        border: 1px solid #e2e2e2;
        border-top: none;
        color: #262626;
        padding: 8px 0 8px 20px; }
        #leftmenu ul li .egMenuLevel_2 a.egSelected {
          background: #cfcfcf;
          color: black;
          border: 1px solid #c8c8c8;
          border-top: 1px solid #bbb; }
        #leftmenu ul li .egMenuLevel_2 a:hover, #leftmenu ul li .egMenuLevel_2 a.egSelected:hover {
          color: #ffee00;
          background-color: #262626;
          border-color: #262626; }
      #leftmenu ul li .egMenuLevel_3 a {
        background: #cfcfcf url("../../img/ci-uk/icons/left-arrow-grey.png") 30px 12px no-repeat;
        border: none;
        color: #666666;
        padding: 8px 0 8px 45px; }
        #leftmenu ul li .egMenuLevel_3 a:hover {
          background: #262626 url("../../img/ci-uk/icons/left-arrow-grey.png") 30px 12px no-repeat;
          color: #ffee00; }
        #leftmenu ul li .egMenuLevel_3 a.egSelected {
          background: #adadad url("../../img/ci-uk/icons/left-arrow-grey.png") 30px 12px no-repeat;
          border: none;
          border-top: 1px solid #999;
          color: black; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 15px 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 4px; }
  .btn:hover, .btn:focus {
    color: #262626; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
    opacity: 0.65; }
  .btn small {
    color: #444444;
    display: block;
    font-size: 11px; }

a.btn {
  text-decoration: none; }
  a.btn:hover {
    text-decoration: none; }

.btn-apply, a.btn-apply {
  color: #262626;
  background-color: #ffee00;
  border-color: #ffee00; }
  .btn-apply:hover, .btn-apply:focus, .btn-apply:active, .btn-apply.active, .open > .btn-apply.dropdown-toggle, a.btn-apply:hover, a.btn-apply:focus, a.btn-apply:active, a.btn-apply.active, .open > a.btn-apply.dropdown-toggle {
    color: #262626;
    background-color: #fff785;
    border-color: #fff785; }
  .btn-apply:active, .btn-apply.active, .open > .btn-apply.dropdown-toggle, a.btn-apply:active, a.btn-apply.active, .open > a.btn-apply.dropdown-toggle {
    background-image: none; }
  .btn-apply.disabled, .btn-apply.disabled:hover, .btn-apply.disabled:focus, .btn-apply.disabled:active, .btn-apply.disabled.active, .btn-apply[disabled], .btn-apply[disabled]:hover, .btn-apply[disabled]:focus, .btn-apply[disabled]:active, .btn-apply[disabled].active, fieldset[disabled] .btn-apply, fieldset[disabled] .btn-apply:hover, fieldset[disabled] .btn-apply:focus, fieldset[disabled] .btn-apply:active, fieldset[disabled] .btn-apply.active, a.btn-apply.disabled, a.btn-apply.disabled:hover, a.btn-apply.disabled:focus, a.btn-apply.disabled:active, a.btn-apply.disabled.active, a.btn-apply[disabled], a.btn-apply[disabled]:hover, a.btn-apply[disabled]:focus, a.btn-apply[disabled]:active, a.btn-apply[disabled].active, fieldset[disabled] a.btn-apply, fieldset[disabled] a.btn-apply:hover, fieldset[disabled] a.btn-apply:focus, fieldset[disabled] a.btn-apply:active, fieldset[disabled] a.btn-apply.active {
    background-color: #ffee00;
    border-color: #ffee00; }
  .btn-apply .badge, a.btn-apply .badge {
    color: #ffee00;
    background-color: #262626; }

.btn-login, a.btn-login {
  color: #fafafa;
  background-color: #262626;
  border-color: #262626; }
  .btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open > .btn-login.dropdown-toggle, a.btn-login:hover, a.btn-login:focus, a.btn-login:active, a.btn-login.active, .open > a.btn-login.dropdown-toggle {
    color: #fafafa;
    background-color: #444444;
    border-color: #444444; }
  .btn-login:active, .btn-login.active, .open > .btn-login.dropdown-toggle, a.btn-login:active, a.btn-login.active, .open > a.btn-login.dropdown-toggle {
    background-image: none; }
  .btn-login.disabled, .btn-login.disabled:hover, .btn-login.disabled:focus, .btn-login.disabled:active, .btn-login.disabled.active, .btn-login[disabled], .btn-login[disabled]:hover, .btn-login[disabled]:focus, .btn-login[disabled]:active, .btn-login[disabled].active, fieldset[disabled] .btn-login, fieldset[disabled] .btn-login:hover, fieldset[disabled] .btn-login:focus, fieldset[disabled] .btn-login:active, fieldset[disabled] .btn-login.active, a.btn-login.disabled, a.btn-login.disabled:hover, a.btn-login.disabled:focus, a.btn-login.disabled:active, a.btn-login.disabled.active, a.btn-login[disabled], a.btn-login[disabled]:hover, a.btn-login[disabled]:focus, a.btn-login[disabled]:active, a.btn-login[disabled].active, fieldset[disabled] a.btn-login, fieldset[disabled] a.btn-login:hover, fieldset[disabled] a.btn-login:focus, fieldset[disabled] a.btn-login:active, fieldset[disabled] a.btn-login.active {
    background-color: #262626;
    border-color: #262626; }
  .btn-login .badge, a.btn-login .badge {
    color: #262626;
    background-color: #fafafa; }

.btn-demo, a.btn-demo {
  color: #fafafa;
  background-color: #50af5f;
  border-color: #50af5f; }
  .btn-demo:hover, .btn-demo:focus, .btn-demo:active, .btn-demo.active, .open > .btn-demo.dropdown-toggle, a.btn-demo:hover, a.btn-demo:focus, a.btn-demo:active, a.btn-demo.active, .open > a.btn-demo.dropdown-toggle {
    color: #fafafa;
    background-color: #4dc55f;
    border-color: #4dc55f; }
  .btn-demo:active, .btn-demo.active, .open > .btn-demo.dropdown-toggle, a.btn-demo:active, a.btn-demo.active, .open > a.btn-demo.dropdown-toggle {
    background-image: none; }
  .btn-demo.disabled, .btn-demo.disabled:hover, .btn-demo.disabled:focus, .btn-demo.disabled:active, .btn-demo.disabled.active, .btn-demo[disabled], .btn-demo[disabled]:hover, .btn-demo[disabled]:focus, .btn-demo[disabled]:active, .btn-demo[disabled].active, fieldset[disabled] .btn-demo, fieldset[disabled] .btn-demo:hover, fieldset[disabled] .btn-demo:focus, fieldset[disabled] .btn-demo:active, fieldset[disabled] .btn-demo.active, a.btn-demo.disabled, a.btn-demo.disabled:hover, a.btn-demo.disabled:focus, a.btn-demo.disabled:active, a.btn-demo.disabled.active, a.btn-demo[disabled], a.btn-demo[disabled]:hover, a.btn-demo[disabled]:focus, a.btn-demo[disabled]:active, a.btn-demo[disabled].active, fieldset[disabled] a.btn-demo, fieldset[disabled] a.btn-demo:hover, fieldset[disabled] a.btn-demo:focus, fieldset[disabled] a.btn-demo:active, fieldset[disabled] a.btn-demo.active {
    background-color: #50af5f;
    border-color: #50af5f; }
  .btn-demo .badge, a.btn-demo .badge {
    color: #50af5f;
    background-color: #fafafa; }
  .btn-demo small, a.btn-demo small {
    color: #fafafa;
    font-weight: normal; }

.btn-cta, a.btn-cta {
  color: #fafafa;
  background-color: #0096d7;
  border-color: #0096d7; }
  .btn-cta:hover, .btn-cta:focus, .btn-cta:active, .btn-cta.active, .open > .btn-cta.dropdown-toggle, a.btn-cta:hover, a.btn-cta:focus, a.btn-cta:active, a.btn-cta.active, .open > a.btn-cta.dropdown-toggle {
    color: #fafafa;
    background-color: #4da9f0;
    border-color: #4da9f0; }
  .btn-cta:active, .btn-cta.active, .open > .btn-cta.dropdown-toggle, a.btn-cta:active, a.btn-cta.active, .open > a.btn-cta.dropdown-toggle {
    background-image: none; }
  .btn-cta.disabled, .btn-cta.disabled:hover, .btn-cta.disabled:focus, .btn-cta.disabled:active, .btn-cta.disabled.active, .btn-cta[disabled], .btn-cta[disabled]:hover, .btn-cta[disabled]:focus, .btn-cta[disabled]:active, .btn-cta[disabled].active, fieldset[disabled] .btn-cta, fieldset[disabled] .btn-cta:hover, fieldset[disabled] .btn-cta:focus, fieldset[disabled] .btn-cta:active, fieldset[disabled] .btn-cta.active, a.btn-cta.disabled, a.btn-cta.disabled:hover, a.btn-cta.disabled:focus, a.btn-cta.disabled:active, a.btn-cta.disabled.active, a.btn-cta[disabled], a.btn-cta[disabled]:hover, a.btn-cta[disabled]:focus, a.btn-cta[disabled]:active, a.btn-cta[disabled].active, fieldset[disabled] a.btn-cta, fieldset[disabled] a.btn-cta:hover, fieldset[disabled] a.btn-cta:focus, fieldset[disabled] a.btn-cta:active, fieldset[disabled] a.btn-cta.active {
    background-color: #0096d7;
    border-color: #0096d7; }
  .btn-cta .badge, a.btn-cta .badge {
    color: #0096d7;
    background-color: #fafafa; }

.btn-min-sm {
  min-width: 74px; }

.btn-link, a.btn-link, .btn-link-contact {
  color: #0096d7;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0;
  padding: 4px;
  background: none; }
  .btn-link:hover, .btn-link:focus, a.btn-link:hover, a.btn-link:focus, .btn-link-contact:hover, .btn-link-contact:focus {
    color: #4da9f0;
    text-decoration: underline; }

.btn-link-contact {
  color: #999999;
  font-weight: normal; }
  .btn-link-contact:hover, .btn-link-contact:focus {
    color: #ffee00;
    text-decoration: none; }

.btn-lg {
  padding: 18px 34px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 4px; }

.btn-sm {
  padding: 10px 17px;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 4px; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

button:hover {
  cursor: pointer; }

.ctrl-group {
  position: relative; }

.ctrl-toggle {
  width: 100%; }

.ctrl-list {
  display: none;
  position: absolute; }
  .ctrl-show .ctrl-list {
    display: block; }
  .ctrl-hide .ctrl-list {
    display: none; }
  .ctrl-list button {
    padding: 5px; }
  .ctrl-list li {
    float: left;
    margin: 0 5px 0 0; }
    .ctrl-list li:last-child {
      margin: 0; }

.yes {
  background: #61bf6a;
  color: #FFFFFF; }

.no {
  background: #f45555;
  color: #FFFFFF; }

/*.btn {
	border-radius: $borderRadius;
	padding:$padMargin $padMargin*2;
	margin:$padMargin 0;
	font-size:$ci-btn-md-size;
	font-weight:600;
	text-align:center;
	display: inline-block;

	&:only-child {
		display:block;
		margin:0;
	}

	* + &{
		margin: 0;
	}
}*/
.blue {
  background: #0084ea;
  color: white; }

.ylw {
  background: #ffee00;
  color: black; }

.panel {
  margin-bottom: 20px;
  background: white;
  border: 1px solid transparent;
  border-radius: 4px; }

.panel-body {
  padding: 10px;
  zoom: 1; }
  .panel-body:after {
    content: " ";
    display: table;
    font-size: 0;
    height: 0;
    visibility: hidden;
    clear: both; }

.panel-heading {
  padding: 10px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit; }
  .panel-title > a {
    color: inherit; }

.panel-default {
  border-color: #d5d5d5; }
  .panel-default > .panel-heading {
    color: #666666;
    background-color: #f9f9f9;
    border-color: #d5d5d5; }
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #d5d5d5; }

.panel-demo {
  border-color: #d5d5d5; }
  .panel-demo > .panel-heading {
    color: white;
    background-color: #50af5f;
    border-color: #50af5f; }
    .panel-demo > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #d5d5d5; }

.panel-apply {
  border-color: #d5d5d5; }
  .panel-apply > .panel-heading {
    color: black;
    background-color: #ffee00;
    border-color: #ffee00; }
    .panel-apply > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #d5d5d5; }

.section {
  zoom: 1;
  margin: 0 0 36px 0; }
  .section:after {
    content: " ";
    display: table;
    font-size: 0;
    height: 0;
    visibility: hidden;
    clear: both; }

* + .widget {
  margin: 20px 0; }

table, .table {
  display: table; }
  table .step-header, .table .step-header {
    position: relative; }

tr, .tr {
  display: table-row;
  border-top: 1px solid #e9e9e9; }
  tr:first-child, .tr:first-child {
    border: none; }

td, .td {
  display: table-cell;
  text-align: left; }

th, .th {
  display: table-cell;
  font-weight: bold;
  text-align: left; }

th, td, li {
  padding: 9px 4.5px; }

.table-radius {
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  border-spacing: 8px;
  width: 100%;
  table-layout: fixed; }
  .table-radius td, .table-radius .td {
    border-right: 1px solid #d5d5d5;
    vertical-align: top;
    text-align: center;
    padding: 10px; }
    .table-radius td:last-child, .table-radius .td:last-child {
      border-right: none; }
    .table-radius td img, .table-radius .td img {
      padding-bottom: 4px; }

.image img {
  width: 100%;
  border: 1px solid #d5d5d5; }

.content li {
  line-height: 1.4em; }

.content-box {
  border: 2px solid #d5d5d5;
  border-radius: 4px; }
  .content-box > * {
    padding: 18px; }

.section-grey, .article-header {
  background: #f0f0f0; }

.push-right-1 {
  padding-left: 27px; }

/* Articles */
.article-header {
  padding: 36px;
  margin: 0;
  zoom: 1; }
  .article-header:after {
    content: " ";
    display: table;
    font-size: 0;
    height: 0;
    visibility: hidden;
    clear: both; }

.article-author {
  max-width: 294px;
  width: 32.12121%;
  display: table;
  margin: 0 0 0 1.81818%; }
  .article-author .author {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4em;
    color: black; }
    .article-author .author a {
      font-size: 1.2em;
      color: black;
      text-decoration: underline; }
    .article-author .author .social {
      display: block;
      margin-top: 9px; }
      .article-author .author .social span {
        margin-left: 9px; }
  .article-author .img-author {
    float: right; }
    .article-author .img-author img {
      border-radius: 50%; }

.section-footnotes {
  background: #fafafa;
  padding: 12.6px 27px; }
  .section-footnotes p {
    margin: 0;
    color: #9a9a9a;
    font-size: 1.2em; }

.article-body {
  padding: 36px 27px 0;
  margin-bottom: 36px; }
  .article-body img {
    float: right;
    padding: 0 0 27px 63px; }

.box-highlight {
  background: #fafafa;
  border: 2px solid whitesmoke;
  padding: 18px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }
  .box-highlight p {
    font-size: 1.6em;
    font-weight: bold;
    color: black;
    margin: 0; }
  p + .box-highlight {
    margin: 54px 0; }
    p + .box-highlight.table {
      border-collapse: separate;
      border-spacing: 18px;
      width: 100%; }
  .box-highlight h2 {
    padding: 0; }
  .box-highlight.aside {
    text-align: center; }

.txt-tag {
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  display: block;
  text-align: center; }
  h2 + .txt-tag {
    margin: -9px 0 18px 0; }

.promo-image {
  padding-top: 36px;
  border-top: 1px solid whitesmoke; }
  .promo-image img {
    width: 100%; }

.pull-to-direction {
  float: left; }

.pull-to-reverse-direction {
  float: right; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: " ";
    display: table;
    font-size: 0;
    height: 0;
    visibility: hidden;
    clear: both; }

.margin-left-1 {
  margin-left: 10px; }

.margin-left-2 {
  margin-left: 20px; }

.margin-left-4 {
  margin-left: 40px; }

.margin-top-1 {
  margin-top: 10px; }

.margin-top-2 {
  margin-top: 20px; }

.padding-top-1 {
  padding-top: 10px; }

.padding-top-2 {
  padding-top: 20px; }

.relative {
  position: relative; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.align-content-bottom-center {
  bottom: 20px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center; }

ul.list-cta, ul.list-style-tick-green {
  font-size: 14px;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.list-cta li, ul.list-style-tick-green li {
    background: url("../../img/ci-uk/icons/tick-green.png") no-repeat 0 5px;
    padding: 0 0 10px 28px; }

ul.list-content, ul.tick {
  list-style: none;
  margin: 0 0 1em;
  padding: 0; }
  ul.list-content li, ul.tick li {
    background: url("../../img/ci-uk/icons/tick-black.png") no-repeat 0 5px;
    color: #666666;
    padding: 0 0 10px 25px; }

table.table-content {
  border-collapse: collapse; }
  table.table-content, table.table-content th, table.table-content td {
    border: 1px solid #d5d5d5; }

.tick-yes {
  background: url("../../img/ci-uk/icons/tick-green.png") no-repeat center center;
  text-indent: 30px; }

.tick-no {
  background: url("../../img/ci-uk/icons/cross-red.png") no-repeat center center;
  text-indent: 30px; }

.article {
  margin-top: 20px;
  min-height: 110px; }
  .article h2 {
    text-decoration: underline;
    margin-bottom: 10px; }
    .article h2 a {
      color: black; }
  .article img {
    margin-right: 20px;
    text-align: left;
    width: 175px; }
  .article p {
    padding-left: 195px; }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

li {
  padding: 0; }

.section {
  margin: 0 0 20px 0; }

.image img {
  width: auto;
  border: 0; }

/* Footer Contacts Bar */
.footer {
  clear: both;
  margin: 20px 0 0 0; }
  .footer .links-footer {
    height: 74px;
    background-color: black; }
  .footer .links-inner {
    height: 74px;
    padding: 0 30px; }
  .footer a {
    color: #999999;
    font-weight: 600;
    text-decoration: none; }
    .footer a:hover {
      color: #fff; }
  .footer .site-links {
    color: #999999;
    float: left;
    font-size: 1.1em;
    margin: 0;
    padding: 0; }
    .footer .site-links a {
      border: 0;
      color: #999999;
      display: block;
      padding: 2px 13px;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .footer .site-links a:hover {
        color: #fff; }
    .footer .site-links li {
      display: inline-block;
      line-height: 20px;
      margin: 25px 0;
      padding: 0; }
    .footer .site-links .live-chat, .footer .site-links .email, .footer .site-links .phone {
      background: url("../../img/ci-uk/icons/sprite_header_widget.png") no-repeat transparent;
      line-height: 20px;
      margin-left: 25px; }
    .footer .site-links .live-chat {
      background-position: -289px -295px;
      height: 20px;
      padding-left: 35px; }
    .footer .site-links .email {
      background-position: -289px -252px;
      height: 20px;
      padding-left: 30px; }
    .footer .site-links .phone {
      background-position: -289px -205px;
      height: 20px;
      padding-left: 25px; }
  .footer .social-links {
    float: right;
    text-align: right;
    margin: 0; }
    .footer .social-links li {
      display: inline-block;
      padding: 0 2px;
      margin: 20px 2px; }
    .footer .social-links a {
      border: 0;
      padding: 0; }
      .footer .social-links a:hover {
        -webkit-filter: brightness(350%);
        filter: brightness(350%); }
    .footer .social-links .facebook, .footer .social-links .twitter, .footer .social-links .googleplus, .footer .social-links .youtube {
      background: url("../../img/ci-uk/icons/socials.png") no-repeat;
      display: block;
      height: 32px; }
      .footer .social-links .facebook span, .footer .social-links .twitter span, .footer .social-links .googleplus span, .footer .social-links .youtube span {
        display: none; }
    .footer .social-links .facebook {
      background-position: 0 0;
      width: 16px; }
    .footer .social-links .facebook:hover {
      background-position: 0 -32px; }
    .footer .social-links .googleplus {
      width: 33px;
      background-position: 0 -64px; }
    .footer .social-links .googleplus:hover {
      background-position: 0 -96px; }
    .footer .social-links .twitter {
      width: 33px;
      background-position: 0 -128px; }
    .footer .social-links .twitter:hover {
      background-position: 0 -160px; }
    .footer .social-links .youtube {
      width: 31px;
      background-position: 0 -192px; }
    .footer .social-links .youtube:hover {
      background-position: 0 -224px; }

/* Footer Link & Legal Copy */
/*#footer {
  background: #fdfdfd;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  clear: both;
  margin: 20px 0;
  padding: 20px;
  width: 956px; }
  #footer .copy {
    clear: both;
    color: #666666;
    font-size: 11px; }
  #footer ul {
    list-style: none;
    margin: 0;
    padding: 0 0 26px 0; }
    #footer ul li {
      float: left;
      margin: 0;
      padding: 0 10px 0 10px;
      border-right: 1px solid #666666;
      line-height: 11px; }
      #footer ul li.first {
        float: left;
        padding: 0 10px 0 0; }
      #footer ul li.last {
        float: left;
        padding: 0 0 0 10px;
        border-right: 0; }
  #footer a {
    font-size: 11px;
    font-weight: bold;
    color: #666666;
    text-decoration: none; }
  #footer #footer-inside {
    background-color: #fdfdfd;
    width: 954px;
    color: #666;
    font-size: 11px;
    padding-top: 10px; }
    #footer #footer-inside .grey-divider {
      background-color: #dcdcdc;
      width: 954px;
      height: 1px;
      margin: 0 0 15px; }
    #footer #footer-inside p {
      font-size: 11px;
      margin: 0 0 6px; }
    #footer #footer-inside a {
      text-decoration: none;
      color: #666; }
    #footer #footer-inside a:hover {
      text-decoration: underline; }
    #footer #footer-inside h6 {
      font-size: 11px;
      font-weight: bold;
      width: 90%;
      margin: 0 0 15px;
      padding: 0 0 5px;
      border-bottom: 1px solid #dcdcdc; }
    #footer #footer-inside h6 a {
      color: #666;
      text-decoration: none;
      font-weight: bold; }
    #footer #footer-inside h6 a:hover {
      text-decoration: underline; }
    #footer #footer-inside .footertop-cont {
      width: 954px;
      margin: 0;
      float: left;
      padding: 10px 10px 20px 10px; }
      #footer #footer-inside .footertop-cont .ft-submenu-cont-first {
        width: 216px;
        float: left; }
      #footer #footer-inside .footertop-cont .ft-submenu-cont {
        width: 216px;
        float: left;
        margin-left: 30px; }
      #footer #footer-inside .footertop-cont ul.ms-menu {
        margin: 0;
        padding: 0;
        list-style: none; }
        #footer #footer-inside .footertop-cont ul.ms-menu li {
          font-size: 11px;
          padding: 1px 0;
          float: none;
          line-height: 18px;
          border: none; }
          #footer #footer-inside .footertop-cont ul.ms-menu li a {
            color: #666;
            text-decoration: none;
            font-weight: normal; }
            #footer #footer-inside .footertop-cont ul.ms-menu li a:hover {
              text-decoration: underline; }
      #footer #footer-inside .footertop-cont .ft-submenubot-cont ul#cu-menu {
        float: left;
        margin: 5px 10px 0 0;
        padding: 0;
        list-style: none;
        display: inline; }
        #footer #footer-inside .footertop-cont .ft-submenubot-cont ul#cu-menu li {
          padding: 0;
          font-size: 11px;
          display: inline;
          float: none;
          line-height: 1em;
          border-right: none; }
          #footer #footer-inside .footertop-cont .ft-submenubot-cont ul#cu-menu li a {
            padding: 0 10px 0 0;
            color: #666;
            text-decoration: none; }
            #footer #footer-inside .footertop-cont .ft-submenubot-cont ul#cu-menu li a:hover {
              text-decoration: underline; }
          #footer #footer-inside .footertop-cont .ft-submenubot-cont ul#cu-menu li .telephone {
            font-size: 12px;
            font-weight: bold; }
        #footer #footer-inside .footertop-cont .ft-submenubot-cont ul#cu-menu h6 {
          width: 100%; }*/

.links-footer {
  padding: 18px; }
  .links-footer .links-internal {
    margin-top: 7px; }
  .links-footer .links-social li {
    margin-left: 15px; }
  .links-footer .links-social .social-fb {
    background: url("../../img/ci-uk/icons/sprite_icons.png") no-repeat 0 -82px;
    width: 15px;
    height: 30px;
    margin-left: 0; }
    .links-footer .links-social .social-fb:hover {
      background-position: -108px -481px; }
  .links-footer .links-social .social-twt {
    background: url("../../img/ci-uk/icons/sprite_icons.png") no-repeat -129px -78px;
    width: 31px;
    height: 30px; }
    .links-footer .links-social .social-twt:hover {
      background-position: -191px -483px; }
  .links-footer .links-social .social-linkd {
    background: url("../../img/ci-uk/icons/sprite_icons.png") no-repeat -78px -79px;
    width: 31px;
    height: 30px; }
    .links-footer .links-social .social-linkd:hover {
      background-position: 0 -480px; }
  .links-footer .links-social .social-g {
    background: url("../../img/ci-uk/icons/sprite_icons.png") no-repeat -36px -83px;
    width: 31px;
    height: 30px; }
    .links-footer .links-social .social-g:hover {
      background-position: -144px -483px; }
  .links-footer .links-social .social-yt {
    background: url("../../img/ci-uk/icons/sprite_icons.png") no-repeat -178px -79px;
    width: 29px;
    height: 30px; }
    .links-footer .links-social .social-yt:hover {
      background-position: -52px -480px; }
  .links-footer a {
    color: #FFFFFF;
    display: block;
    padding: 0 12.6px;
    border-left: 1px solid #FFFFFF; }
  .links-footer li {
    float: left;
    padding: 0; }
    .links-footer li:first-child a {
      /*padding:0 $padMargin/2 0 0;*/
      border-left: 0; }

/*  Wrapper footer  */
.disclaimer {
  color: #999999;
  margin: 27px;
  font-size: 0.9em;
  line-height: 1.4em; }

.compliance {
  margin: 27px;
  zoom: 1;
  color: #999999; }
  .compliance p {
    margin: 0; }
  .compliance:after {
    content: " ";
    display: table;
    font-size: 0;
    height: 0;
    visibility: hidden;
    clear: both; }
  .compliance .i-fca {
    display: table-cell;
    background: url("../../img/ci-uk/icons/sprite_icons.png") no-repeat 0 0;
    width: 47px;
    height: 39px; }
  .compliance div {
    display: table-cell;
    vertical-align: middle; }

.links-compliance {
  margin-top: 9.9px; }
  .links-compliance li {
    padding: 0;
    float: left; }
    .links-compliance li:first-child a {
      padding: 0 10.8px 0 0;
      border-left: 0; }
    .links-compliance li a {
      color: #999999;
      border-left: 1px solid #999999;
      padding: 0 10.8px;
      display: block; }

.footer .links-footer {
  padding: 0; }
.footer .site-links li {
  font-size: 13px; }

.open-an-account {
  background: url("../../img/ci-uk/icons/bg-open-an-account.jpg") no-repeat top center;
  border-radius: 4px;
  height: 254px;
  margin-bottom: 10px;
  padding: 25px 20px 15px 20px;
  position: relative; }
  .open-an-account h3 {
    color: #fafafa;
    font-size: 18px;
    text-align: center; }
  .open-an-account .body {
    color: #fafafa;
    font-size: 14px;
    font-weight: 600;
    padding-top: 50px;
    text-align: center; }

.any-question {
  text-align: center; }
  .any-question .help-icon {
    display: block;
    display: inline-block;
    background: url("../../img/ci-uk/icons/help-support.png") no-repeat 0 0;
    width: 113px;
    height: 83px; }
    .any-question .help-icon span {
      display: none; }
  .any-question .help-icon:hover {
    background: url("../../img/ci-uk/icons/help-support.png") no-repeat 0 -83px; }
  .any-question .twitter-icon {
    background: url("../../img/ci-uk/icons/socials.png") no-repeat;
    background-position: 0 -256px;
    color: #6a6e79;
    display: block;
    font-weight: 700;
    height: 31px;
    padding: 6px 0 0 46px;
    text-decoration: none; }
  .any-question .twitter-icon:hover {
    text-decoration: none; }
  .any-question .divider {
    border-bottom: 1px solid #b5b3b1;
    line-height: 0;
    margin: 10px 0; }

.homeslider {
  width: 680px;
  height: 297px;
  position: relative;
  margin: 0 auto 0 0; }
  .homeslider .wrapper {
    width: 680px;
    overflow: hidden;
    height: 297px;
    margin: 0 0 0 0;
    position: absolute;
    top: 0;
    left: 0; }
    .homeslider .wrapper ul {
      width: 32700px;
      list-style: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0; }
      .homeslider .wrapper ul li .textSlide {
        color: #000000;
        width: 680px;
        height: 297px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #ffee00;
        position: relative; }
      .homeslider .wrapper ul li .copy {
        float: right;
        width: 335px;
        margin: 45px 18px 0 0;
        height: 200px; }
        .homeslider .wrapper ul li .copy img {
          padding: 0 0 10px 0; }
        .homeslider .wrapper ul li .copy h2 {
          color: #000;
          font-size: 26px;
          font-weight: 700;
          line-height: 30px;
          margin: 0 0 10px 0; }
        .homeslider .wrapper ul li .copy .body {
          clear: both;
          font-size: 12px; }
          .homeslider .wrapper ul li .copy .body .body-btn {
            margin-top: 20px; }
            .homeslider .wrapper ul li .copy .body .body-btn a {
              padding-top: 15px;
              padding-bottom: 15px; }
      .homeslider .wrapper ul li .image {
        float: left;
        width: 318px;
        max-width: 318px; }
  .homeslider .body a.link {
    background: #000;
    color: #fff;
    display: block;
    float: left;
    font: normal 18px arial;
    height: 52px;
    margin-top: 20px;
    margin-right: 0;
    padding-right: 9px;
    /* sliding doors padding */
    text-decoration: none; }
    .homeslider .body a.link span {
      background: transparent;
      display: block;
      margin: 0;
      padding: 10px 20px 10px 58px;
      line-height: 32px; }
    .homeslider .body a.link:hover {
      cursor: pointer;
      background: transparent; }
    .homeslider .body a.link span:hover {
      background: transparent; }
  .homeslider ul li {
    float: left;
    padding: 0;
    height: 297px;
    margin: 0 0 0 0; }
  .homeslider .arrow {
    display: block;
    height: 300px;
    width: 30px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    background: #ccc;
    opacity: 0.4; }
  .homeslider .forward {
    border: 0;
    left: -20px;
    display: none; }
  .homeslider .back {
    border: 0;
    left: -20px;
    display: none; }
  .homeslider #thumbNav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    height: 22px; }
    .homeslider #thumbNav a {
      z-index: 2;
      padding: 0;
      margin: 4px 5px 2px 8px;
      font-weight: bold;
      display: block;
      display: inline-block;
      background: transparent url("../../img/ci-uk/icons/slider.png") no-repeat;
      height: 8px;
      width: 8px;
      float: left;
      text-indent: -20000px; }
      .homeslider #thumbNav a:hover {
        background-position: 0 -8px;
        height: 8px;
        display: block;
        width: 8px;
        float: left;
        text-indent: -20000px; }
      .homeslider #thumbNav a.cur {
        background-position: 0 -8px;
        height: 8px;
        display: block;
        width: 8px;
        float: left;
        text-indent: -20000px; }
  .homeslider #start-stop {
    display: none; }
  .homeslider #start-stop.playing {
    display: none; }

/* panel top and bottom*/
.paneltop {
  margin: 0 0 0 0;
  padding: 0;
  width: 678px;
  height: 6px; }

.panelbottom {
  margin: 0;
  padding: 0;
  width: 678px;
  height: 14px; }

.coda-slider-wrapper {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  clear: both;
  overflow: hidden; }

/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
.coda-slider-no-js .coda-slider {
  height: 300px;
  overflow: hidden;
  padding-right: 20px; }

/* Change the width of the entire slider (without dynamic arrows) */
.coda-slider, .coda-slider .panel {
  margin: 0;
  padding: 0;
  width: 300px; }

/* Change margin and width of the slider (with dynamic arrows) */
.coda-slider-wrapper.arrows .coda-slider {
  width: 678px;
  height: 306px;
  background: #ffffff; }
  .coda-slider-wrapper.arrows .coda-slider .panel {
    width: 703px;
    height: 306px;
    background: #ffffff; }

.coda-nav-left a, .coda-nav-right a {
  display: block;
  height: 21px;
  position: absolute;
  text-decoration: none;
  width: 22px;
  z-index: 5; }

.coda-nav-left a {
  margin: 115px 0 0 -12px; }

.coda-nav-right a {
  margin: 115px 0 0 665px; }

/* Tab nav */
.coda-nav .clear {
  height: 0; }
.coda-nav ul {
  padding: 0;
  margin: 0;
  height: 54px;
  clear: both;
  display: block;
  overflow: hidden; }
  .coda-nav ul li {
    display: inline-block;
    width: 165px; }
    .coda-nav ul li.first {
      width: 179px; }
      .coda-nav ul li.first .middle {
        border-left: 0;
        width: 179px; }
        .coda-nav ul li.first .middle a {
          padding-left: 7px; }
    .coda-nav ul li.last {
      width: 169px; }
      .coda-nav ul li.last .middle {
        border-right: 0; }
    .coda-nav ul li .middle {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: 1px solid #d5d5d5;
      float: left;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center; }
      .coda-nav ul li .middle h2 {
        margin: 0; }
    .coda-nav ul li a {
      display: block;
      padding: 17px 0 16px 0;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      color: #666666; }
  .coda-nav ul li.li_selected.first .middle {
    border-left: 0; }
  .coda-nav ul li.li_selected.last .middle {
    border-right: 0; }
  .coda-nav ul li.li_selected .middle {
    border-bottom-color: white;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    background-color: white;
    float: left;
    text-decoration: none; }
    .coda-nav ul li.li_selected .middle a {
      text-decoration: none;
      color: #333333; }
.coda-nav #coda-nav-end {
  float: left;
  height: 52px;
  width: 5px; }

/* Panel padding */
.coda-slider {
  float: left;
  overflow: hidden;
  position: relative; }
  .coda-slider .panel-wrapper {
    padding: 22px 19px 0 30px;
    margin: 0;
    font-size: 11px;
    color: #666666;
    /* this is not recommended to hide text when height more than expected.*/ }
    .coda-slider .panel-wrapper h2 {
      display: none; }
    .coda-slider .panel-wrapper h3 {
      margin: 0;
      padding: 0 0 18px;
      font-size: 12px;
      color: #000000;
      font-weight: 600; }
    .coda-slider .panel-wrapper .box {
      float: left;
      width: 181px;
      height: 272px;
      overflow: hidden;
      position: relative; }
      .coda-slider .panel-wrapper .box .copy {
        height: 190px;
        overflow: hidden;
        line-height: 16px;
        color: #666666; }
      .coda-slider .panel-wrapper .box .moreInfo {
        position: absolute;
        bottom: 5px;
        text-align: left;
        left: 0;
        right: 0; }
        .coda-slider .panel-wrapper .box .moreInfo img {
          padding-bottom: 8px;
          width: 175px;
          height: 108px; }
        .coda-slider .panel-wrapper .box .moreInfo .btn-link {
          background-image: url("/images/chevin-arrow.png");
          background-position: right center;
          padding: 0 21px 0 0;
          margin-top: 2px;
          background-repeat: no-repeat; }
    .coda-slider .panel-wrapper .divider {
      float: left;
      border-right: 1px solid #d5d5d5;
      margin: 0 20px 0 15px;
      width: 1px;
      height: 264px; }
  .coda-slider p.loading {
    /* Preloader */
    padding: 0;
    text-align: center;
    height: 306px;
    background: #ffffff;
    margin: 0 0 0 9px;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5; }
  .coda-slider .panel {
    display: block;
    float: left;
    border: 0; }
  .coda-slider .panel-container {
    position: relative; }

.preload {
  width: 668px; }

.panel-demo-account, .panel-why-city-index {
  float: right; }
  .panel-demo-account .panel-heading h3, .panel-why-city-index .panel-heading h3 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    margin: 0;
    text-align: center; }
  .panel-demo-account .panel-body, .panel-why-city-index .panel-body {
    position: relative; }
    .panel-demo-account .panel-body p, .panel-demo-account .panel-body li, .panel-why-city-index .panel-body p, .panel-why-city-index .panel-body li {
      color: black;
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 18px; }
      .panel-demo-account .panel-body p strong, .panel-demo-account .panel-body li strong, .panel-why-city-index .panel-body p strong, .panel-why-city-index .panel-body li strong {
        font-weight: 600; }
    .panel-demo-account .panel-body p, .panel-why-city-index .panel-body p {
      margin-top: 0;
      margin-bottom: 1em; }

.panel-demo-account {
  width: 304px;
  margin-bottom: 11px; }
  .panel-demo-account .panel-body {
    background: url("../../img/ci-uk/icons/bg-try-demo-account.png") no-repeat right 42px;
    padding: 42px 100px 14px 30px;
    min-height: 184px;
    line-height: 20px; }

.panel-why-city-index {
  width: 304px; }
  .panel-why-city-index .panel-body {
    min-height: 274px;
    padding: 17px 24px 14px 28px; }
    .panel-why-city-index .panel-body p {
      line-height: 16px; }
    .panel-why-city-index .panel-body ul {
      list-style: none;
      margin: 0;
      padding: 17px 0 0 0; }
      .panel-why-city-index .panel-body ul li {
        background: url("../../img/ci-uk/icons/tick-green.png") no-repeat 0 4px;
        font-size: 14px;
        font-weight: 600;
        padding: 0 0 10px 28px; }
    .panel-why-city-index .panel-body .font-normal {
      font-size: 11px; }

.markets {
  border: 1px solid #d5d5d5;
  border-radius: 5px; }
  .markets .box-title {
    background-color: #f9f9f9;
    color: #666;
    height: 51px;
    line-height: 51px;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    padding: 0 30px 0 30px;
    position: relative; }
  .markets .find-more-link {
    color: #0096d7;
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    right: 30px;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(/images/chevin-arrow.png);
    background-position: right center;
    padding-right: 14px;
    background-repeat: no-repeat;
    margin-bottom: 0; }
  .markets .box-body {
    border: 0;
    width: 100%; }
  .markets .instrument_chart_small {
    width: 67px;
    height: 67px;
    position: relative;
    float: left;
    margin: 0 8px 0 0; }
    .markets .instrument_chart_small img {
      border-width: 0px;
      position: relative;
      width: 67px;
      height: 67px; }
  .markets ul {
    padding: 20px 0 0 30px;
    margin: 0; }
  .markets .chart-percentage {
    position: relative;
    top: -46px;
    width: 67px;
    text-align: center;
    font-size: 20px; }
  .markets .chart-buy {
    color: #137bb8; }
  .markets .chart-sell {
    color: #d11110; }
  .markets li .chart-title {
    display: inherit;
    font-size: 17px;
    overflow-y: hidden;
    height: 67px;
    color: #3f3f3f;
    vertical-align: middle;
    text-align: left; }
  .markets li .chart-title:hover {
    text-decoration: none; }
  .markets .market-name {
    display: table-cell; }
  .markets .watchlistItem {
    display: inline-block !important;
    margin: 0px 44px 0 0;
    width: 168px;
    list-style: none; }
  .markets .markets-bottom {
    margin: 14px 30px 10px 30px; }
  .markets .disclamer {
    float: left;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #666666; }
  .markets .captions {
    float: right;
    text-align: right;
    width: 40%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    word-spacing: 2px;
    color: #666666; }
    .markets .captions .circle {
      width: 10px;
      height: 10px;
      display: inline-block;
      color: gray;
      border-radius: 50%; }
    .markets .captions .circle.sell {
      background-color: #f3546f; }
    .markets .captions .circle.buy {
      background-color: #32a0ee; }

.box-home {
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  overflow: hidden;
  margin-bottom: 11px; }
  .box-home h3 {
    margin: 0; }
  .box-home .box-title {
    font-size: 20px;
    font-weight: 600;
    display: block;
    text-align: center;
    vertical-align: middle; }
  .box-home .box-body {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
    position: relative; }
    .box-home .box-body p {
      font-size: 14px;
      margin-top: 0; }
    .box-home .box-body strong {
      font-weight: 600; }
    .box-home .box-body .box-btn {
      position: absolute;
      right: 30px;
      bottom: 19px;
      left: 30px;
      text-align: center; }

.box-home-top-right, .box-home-bottom-right {
  float: right; }

.box-home-top-right {
  width: 304px; }
  .box-home-top-right .box-title {
    background-color: #50af5f;
    color: #fff;
    height: 51px;
    line-height: 51px; }
  .box-home-top-right .box-body {
    background: url(/images/backgrounds/box-home-top-right-demo-account.png) no-repeat right 42px;
    padding: 42px 100px 14px 30px;
    height: 188px;
    line-height: 20px; }

.box-home-bottom-right {
  width: 304px;
  margin-bottom: 0; }
  .box-home-bottom-right .box-title {
    background-color: #f9f9f9;
    color: #666;
    height: 51px;
    line-height: 51px; }
  .box-home-bottom-right .box-body {
    color: #000;
    padding: 17px 24px 14px 28px;
    height: 485px; }
    .box-home-bottom-right .box-body p {
      line-height: 16px; }
    .box-home-bottom-right .box-body img {
      margin-top: 17px; }
    .box-home-bottom-right .box-body ul {
      font-size: 14px;
      font-weight: 600;
      list-style: none;
      margin: 0;
      padding: 17px 0 0 0; }
      .box-home-bottom-right .box-body ul li {
        background: url(/images/backgrounds/tick-green.png) no-repeat 0 3px;
        font-size: 14px;
        font-weight: 600;
        height: 30px;
        padding: 0 0 10px 28px; }
    .box-home-bottom-right .box-body .font-normal {
      font-size: 11px; }
  .box-home-bottom-right .box-bottom {
    width: 298px;
    height: 4px;
    background-image: url(/images/backgrounds/box-home-bottom-right-border-bottom.png); }



  
/*FILTHY HACK FOR PLATFORMS NEEDS TO BE ADDRESSED*/
.egMenu_85899345901 {

    margin-top:20px !Important;
    border-top: 1px solid #e2e2e2;
}

.egMenu_85899345891  {

    margin-top:0px !Important;

}

.egMenu_85899345901:before {
    
    content:"Tools";
    background-color: #666;
    color: white;
    font-weight:600;
    cursor: default;
    display:block;
    padding: 10px 0 8px 12px;
}

.egMenu_85899345891:before {
    
    content:"Platforms";
    background-color: #666;
    color: white;
    font-weight:600;
    cursor: default;
    display:block;
    padding: 10px 0 8px 12px;
} 


